{% extends "base.html" %}
{% load staticfiles%}

{% block title %}{{ bird_name }}{% endblock %}

{% block body %}<body>{% endblock %}

{% block maincontent %}
    <h2>{{ bird_name }}</h2>
    <div id="bird-detail"  class="detail-info">
    <audio controls>
        <source src="{% static bird_call %}" type="audio/mpeg" />
    </audio>
    <form role="form" method="post">
        {% csrf_token %}
        <div class="checkbox checkbox-lg">
            <label>
                <input type="checkbox" name="favorite" onclick="this.form.submit();" {{ favorite }} > Save as Favorite
            </label>
            <a href="#" title="You can drill and quiz from your Favorites mix."><span class="glyphicon glyphicon-info-sign"></span></a>
        </div>
        <div class="checkbox checkbox-lg">
            <label>
                <input type="checkbox" name="excluded" onclick="this.form.submit();" {{ excluded }} > Exclude from drills
            </label>
            <a href="#" title="Checking this won't delete this bird from your mixes -- it will just disappear from drill questions. You can bring it back anytime."><span class="glyphicon glyphicon-info-sign"></span></a>
        </div>
    </form>
    <ul>
        <li><span class="glyphicon glyphicon-headphones bullet" aria-hidden="true"></span><strong>
            {% if bird_pile == "L" %}
            I have learned it!
            {% else %}
            I haven't learned this one yet.
            {% endif %}


        </strong> <a href="#" title="When you get a bird right in a drill or quiz, then it gets the status of 'learned'. If you miss the bird in a future drill or quiz, it will go back to 'unlearned'."><span class="glyphicon glyphicon-info-sign"></span></a></li>
        <li><span class="glyphicon glyphicon-filter bullet" aria-hidden="true"></span><strong>Type of bird</strong>
            <ul>
                <li>{{ bird_type }}</li>
            </ul>
        </li>
        <li><span class="glyphicon glyphicon-folder-open bullet" aria-hidden="true"></span><strong>Bird mixes with this bird</strong>
            <ul>
                {% if parent_mixes %}
                    {% for mix in parent_mixes %}
                    <li><a href="/mix_detail/{{ mix.slug }}"><strong>{{ mix.nickname}},</strong> {{ mix.description }}</a></li>
                    {% endfor %}
                {% else %}
                <li>This bird isn't in an any of your mixes. You can add it to your Favorites mix by making it a favorite.</li>
                {% endif %}
            </ul>
        </li>
    </ul>





    </div><!--bird-detail-->
{% endblock maincontent %}