{% extends "base.html" %}
{% load staticfiles%}

{% block title %}{{ bird_name }}{% endblock %}

{% block body %}<body>{% endblock %}

{% block maincontent %}
    <h2>{{ bird_name }}</h2>
    <div id="bird-detail"  class="detail-info">
    <audio controls>
        <source src="{% static bird_call %}" type="audio/mpeg" />
    </audio>
    <form role="form" method="post">
        {% csrf_token %}
        <div class="checkbox checkbox-lg">
            <label>
                <input type="checkbox" name="favorite" id="favorite" onclick="captureCheckboxes()" {{ favorite }} > Save as Favorite
            </label>
            <a role="button" data-container="body" data-toggle="popover" data-placement="top" class="cursor-pointer" data-content="You can drill and quiz from your Favorites mix."><span class="glyphicon glyphicon-info-sign"></span></a>
        </div>
        <div class="checkbox checkbox-lg">
            <label>
                <input type="checkbox" name="excluded" id="excluded" onclick="captureCheckboxes()" {{ excluded }} > Exclude from drills
            </label>
            <a role="button" data-container="body" data-toggle="popover" data-placement="top" class="cursor-pointer" data-content="Checking this won't delete this bird from your mixes -- it will just disappear from drill questions. You can bring it back anytime."><span class="glyphicon glyphicon-info-sign"></span></a>
        </div>
         <input type="hidden" id="bid" value="{{ bird_id }}">
    </form>
    <ul>
        {% if bird_pile == "L" %}
        <li><span class="glyphicon glyphicon-check bullet" aria-hidden="true"></span><strong>I have learned it!</strong>
        {% else %}
        <li><span class="glyphicon glyphicon-unchecked bullet" aria-hidden="true"></span><strong>I haven't learned this one yet.</strong>
        {% endif %}
        <a role="button" data-container="body" data-toggle="popover" data-placement="top" class="cursor-pointer" data-content="When you get a bird right in a drill or quiz, then it gets the status of 'learned'. If you miss the bird in a future drill or quiz, it will go back to 'unlearned'."><span class="glyphicon glyphicon-info-sign"></span></a></li>
        <li><span class="glyphicon glyphicon-filter bullet" aria-hidden="true"></span><strong>Type of bird</strong>
            <ul>
                <li>{{ bird_type }}</li>
            </ul>
        </li>
        <li><span class="glyphicon glyphicon-folder-open bullet" aria-hidden="true"></span><strong>Bird mixes</strong>
            <ul>
                {% if parent_mixes %}
                    {% for mix in parent_mixes %}
                    <li><a href="/mix_detail/{{ mix.slug }}"><strong>{{ mix.nickname}},</strong> {{ mix.description }}</a></li>
                    {% endfor %}
                {% else %}
                <li>This bird isn't in an any of your mixes. You can add it to your Favorites mix by making it a favorite.</li>
                {% endif %}
            </ul>
        </li>
    </ul>


<!-- create a form and post it. -->


    </div><!--bird-detail-->
<script>
       var request = new XMLHttpRequest();

       function saveData(formData){
            console.log("formData has " + formData);
            request.onload = undefined;
            request.onreadystatechange = function() {
                if ((request.readyState == 4) && (request.status == 200)) {
                    var data = JSON.parse(request.responseText);
                    console.log(data);
                }
            };
            request.open("POST","/update_bird_detail/",true);
            request.setRequestHeader("Content-type","application/x-www-form-urlencoded");
            request.send(formData);
        }

        function captureCheckboxes() {
            var form_bid = document.getElementById("bid").value;
            var form_favorite = document.getElementById("favorite").checked;
            var form_excluded = document.getElementById("excluded").checked;
            //build name value pairs for the POST url
            var formDataList = [];
            //favorite
            formDataList.push(
                encodeURIComponent("bid")
                            + "=" +
                encodeURIComponent(form_bid)
            );
            //excluded
            formDataList.push(
                encodeURIComponent("favorite")
                            + "=" +
                encodeURIComponent(form_favorite)
            );
            //id
            formDataList.push(
                encodeURIComponent("excluded")
                            + "=" +
                encodeURIComponent(form_excluded)
            );
            saveData(formDataList.join("&"));
        }
</script>
{% endblock maincontent %}