{% extends "base.html" %}
{% load staticfiles%}

{% block title %}{{ mix_nickname }} Drill{% endblock %}
{% block script %}

    <style>
        .template {
            display: none;
        }
    </style>{% endblock %}
{% block body %}<body class="{{ mix_color }}">{% endblock %}

{% block maincontent %}
<!--
<form  id="f1" action="/ajax/" method="post" onsubmit="return captureSubmit()" >
    <input name="name">
    <input type="submit" value="submit">
</form>
<ul id="list">
</ul>
<ul class="template">
    <li id="template" class="template">
        <span>
           Name: {bird.name}<br>
           BirdPile: {bird.bird_pile}
        </span>
        <br>
        <br>
    </li>
</ul>
-->
    <!--javascript gets these values from the HTML-->
    <div class="js-variable">
      <div id="mix_slug">{{ mix_slug }}</div>
      <div id="frequency_new">{{ frequency_new }}</div>
      <div id="frequency_learned">{{ frequency_learned }}</div>
      <div id="frequency_missed">{{ frequency_missed }}</div>
    </div>
      <h1><a class="btn btn-default" href="/mix_detail/{{ mix_slug }}" role="button"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> {{ mix_nickname }}</a> Drill</h1>

        <h2>Which bird is this?</h2>
    <div id="drill">
        <div id="fail-validation"></div>
        <audio id="question_bird_audio" controls autoplay src="">
            <source src="/static/media/call_common_loon.mp3" type="audio/mpeg" />
        </audio>
        <form role="form" method="post" class="drill-btns">
        {% csrf_token %}
            <div id="buttons">
            </div><!--buttons-->
       <div class="detail-info">
            <ul>
                <li><span class="glyphicon glyphicon-check bullet" aria-hidden="true"></span><strong><span id="learned_birds_span">0</span> out of <span id="drill_total_span">0</span> birds learned </strong> <a href="#" title="When you get a bird right in a drill or quiz, then it gets the status of 'learned'. If you miss the bird in a future drill or quiz, it will go back to 'unlearned'."><span class="glyphicon glyphicon-info-sign"></span></a></li>
            </ul>
        </div>
            <br />
            <br />
        <hr>
            <div class="checkbox checkbox-lg">
                <label><input type="checkbox" name="listen_only"> Listen-only mode</label> <a href="#" title="Listen-only mode will disable the answer options and autoplay the bird sounds. BirdingEar can't track your learned birds in this mode, so drill settings that involve tracking won't be applied."><span class="glyphicon glyphicon-info-sign"></span></a>
            </div>
        </form>


    <a href="/mix_detail/{{ mix_slug }}" class="btn btn-default colored-btn"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back to the {{ mix_nickname }} bird mix</a>

    </div><!--drill-->
    <script src="{% static 'js/drill_question.js' %}" type="text/javascript"></script>
{% endblock maincontent %}