{% extends "base.html" %}
{% load staticfiles%}

{% block title %}{{ mix_nickname }} Drill{% endblock %}
{% block script %}
    <script>

        //minimum birds for mix, and for learned birdpile before a learned bird is selected.
        var LEARNED_MIN = 5; // can't be more than MIX_MIN
        var MIX_MIN = 5; // can't be less than LEARNED_MIN
        //TODO var NUM_DISTRACTORS = 2; // can't be more than MIX_MIN + 1

        var request = new XMLHttpRequest();

        function draw(data) {
            var list = document.getElementById("list");
            var template = document.getElementById("template");
            var output = [];
            data.forEach(function (item) {
                //console.log(item);
                var text = template.innerHTML;
                for (var p in item) {
                    if (item.hasOwnProperty(p)) {
                        text = text.replace("{bird." + p + "}", item[p]);
                    }
                }
                output.push(text)
                });
            list.innerHTML = "<li>" + output.join("</li><li>") + "</li>";
        }

        // remove any birds the user has marked as "exclude from drills" from the list of birds
        function removeExcluded(data) {
            var drill_birds = [];
            data.forEach(function (item) {
                if (item["excluded"] == false) {
                    drill_birds.push(item);
                }
            });
            //console.log("drill birds: " + drill_birds.length);
            return drill_birds;
        }

        // make sure mix has minimum birds for selection from the learned bird pile
        function validateMix(drill_birds) {
            if (drill_birds.length <= MIX_MIN) {
                console.log("less than minimum birds");
                return false;
            } else {
                return true;
            }
        }


        // add frequencies together and divide each by the sum to get percentage
        // for each bird pile. Frequencies are set by user in "settings'
        function getFrequencyPercentages() {
            var frequency_new = Number(document.getElementById("frequency_new").innerHTML);
            var frequency_learned = Number(document.getElementById("frequency_learned").innerHTML);
            var frequency_missed = Number(document.getElementById("frequency_missed").innerHTML);
            var sum = frequency_new + frequency_learned + frequency_missed;
            var percentages = [];
                percentages['new'] = (frequency_new/sum);
                percentages['learned'] = (frequency_learned/sum);
                percentages['missed'] = (frequency_missed/sum);
            return percentages;
        }

        function sortBirdPiles(drill_birds) {
            // get list of user birds from mix and separate into new/learned/missed lists (delete "excluded)
            var bird_pile_New = [];
            var bird_pile_Learned = [];
            var bird_pile_Missed = [];
            drill_birds.forEach(function (item) {
                switch(item["bird_pile"]) {
                    case "N":
                        bird_pile_New.push(item);
                        break;
                    case "L":
                        bird_pile_Learned.push(item);
                        break;
                    case "M":
                        bird_pile_Missed.push(item);
                        break;
                    default:
                        console.log(item["bird_pile"] + ": Bird without bird_pile in function SortBirdPiles")
                }
            });
            var sortedBirdList = [];
                sortedBirdList['new'] = bird_pile_New;
                sortedBirdList['learned'] = bird_pile_Learned;
                sortedBirdList['missed'] = bird_pile_Missed;
            return sortedBirdList;
        }

        //select with bird pile the question bird will be pulled from.
        function chooseBirdPile(bird_pile_frequencies) {
            var selector = Math.random();
            var question_bird_pile;
            //console.log(selector);
            if ( bird_pile_frequencies['new'].length != 0) {
                if (selector < bird_pile_frequencies['new']) {
                    question_bird_pile = "N";
                }
                else if (selector < bird_pile_frequencies['learned'] + bird_pile_frequencies['new']) {
                    question_bird_pile = "L";
                }
                else {
                    question_bird_pile = "M";
                }
            }
            else {
            // if there aren't any birds in the 'New' bird pile, divide frequency for New in half and
            // and add to the frequencies of 'Learned' and 'Missed'
            // TODO test case with no NEW birds
                var offset = bird_pile_frequencies['new'] * .5;
                if (selector < (bird_pile_frequencies['learned'] + offset)) {
                    question_bird_pile = "L";
                    console.log('With offset, learned frequency is ' + bird_pile_frequencies['learned'] + new_offset)
                }
                else {
                    question_bird_pile = "M";
                }
            }
            return question_bird_pile;
        }

        // find the matching bird pile and randomly select a bird from it.
        function selectBird(bird_pile_lists, question_bird_pile) {
            var question_bird;
            var random_bird;
            console.log('Looking for a bird in ' + question_bird_pile);
            switch (question_bird_pile) {
                case "N":
                    if (bird_pile_lists['new'].length != 0) {
                        random_bird = Math.floor(Math.random() * (bird_pile_lists['new'].length - 0)) + 0;
                        question_bird = bird_pile_lists['new'][random_bird];
                    }
                    else {
                        console.log('N bird pile is empty');
                        return false;
                    }
                    break;
                case "L":
                    if (bird_pile_lists['learned'].length >= LEARNED_MIN) {
                        random_bird = Math.floor(Math.random() * (bird_pile_lists['learned'].length - 0)) + 0;
                        question_bird = bird_pile_lists['learned'][random_bird];
                    }
                    else {
                        console.log('L bird pile is >= ' + LEARNED_MIN);
                        return false;
                    }
                    break;
                case "M":
                    if (bird_pile_lists['missed'].length != 0) {
                        random_bird = Math.floor(Math.random() * (bird_pile_lists['missed'].length - 0)) + 0;
                        question_bird = bird_pile_lists['missed'][random_bird];
                    }
                    else {
                        console.log('M bird is pile empty');
                        return false;
                    }
                    break;
                default:
                    console.log("question_bird_pile doesn't match N, L, or M");
            }
            //console.log(random_bird);
            return question_bird;
        }

        function selectDistractors(question_bird, drill_birds) {
            var distractors = [];
            var selector;
            // choose a random bird. check that it isn't the question bird
            // TODO remove repetition, use NUM_DISTRACTORS
            do {
                selector = Math.floor(Math.random() * (drill_birds.length - 0)) + 0;
                distractors[0] = drill_birds[selector];
                console.log("distractor 0 is " + distractors[0].name);
            } while (distractors[0] == question_bird);
            // choose a random bird. check that it isn't the question bird or the previous bird
            do {
                selector = Math.floor(Math.random() * (drill_birds.length - 0)) + 0;
                distractors[1] = drill_birds[selector];
                console.log("distractor 1 is " + distractors[1].name);
            } while (distractors[1] == question_bird && distractors[1] == distractors[0]);
            return distractors;
        }

        function randomizeOptions(distractors, question_bird) {
            //combine birds into one array
            var answerOptions = distractors;
            answerOptions.push(question_bird);
            //TODO randomize answer options
            return answerOptions;
        }

        function updateButtons(answerOptions) {
            for (var i = 0; i < answerOptions.length; i++) {
                document.getElementById("option" + i).innerHTML = answerOptions[i].name;
                document.getElementById("option" + i).value = answerOptions[i].id;
            }
        }

        function playBird(question_bird) {
            var call = document.getElementById("question_bird_audio");
            call.src = question_bird.bird_call;
            //call.play();
            console.log(question_bird.bird_call);
            //TODO get correct bird to autoplay, http://stackoverflow.com/questions/12631420/play-a-sound-on-page-load-using-javascript
        }

        function makeNewQuestion(bird_pile_frequencies, bird_pile_lists, drill_birds) {
            do {
                //use random number to decide which bird pile to pull from (new/learned/missed)
                var question_bird_pile = chooseBirdPile(bird_pile_frequencies);
                //console.log(question_bird_pile);
                // get random bird from the question bird pile
                var question_bird = selectBird(bird_pile_lists, question_bird_pile);
                // if question bird returns false the bird pile was empty. Loop back to selecting the bird pile
            } while (question_bird == false);
            console.log("question bird is "  + question_bird.name);
            // get 2 random birds from bird list that aren't the selected Bird
            var distractors = selectDistractors(question_bird, drill_birds);
            // combine selected bird and distractors into one list, then scramble order
            var answerOptions = randomizeOptions(distractors, question_bird);
            // add the answer options to the HTML
            updateButtons(answerOptions);
            //TODO  concatenate the audio for the birds in the question, same order multiple choice
            //http://www.lastrose.com/html5-audio-video-playlist/
            //compilateAudio(answerOptions);
            // update bird call and play audio
            playBird(question_bird);

        }

        function drawQuestion(data) {
            // if mix validates, continue with drill
            var drill_birds = removeExcluded(data);
            if (validateMix(drill_birds)) {
                //console.log("mix validates");
                // remove the "excluded" birds from the mix

                // calculate the percent for each birdpile
                var bird_pile_frequencies = getFrequencyPercentages();
                //console.log('M frequency = ' + bird_pile_frequencies['missed']);
                //console.log('N frequency = ' + bird_pile_frequencies['new']);
                //console.log('L frequency = ' + bird_pile_frequencies['learned']);

                // get separate birds into new/learned/missed lists
                var bird_pile_lists = sortBirdPiles(drill_birds);
                //console.log(bird_pile_lists['new'].length);
                //console.log(bird_pile_lists['learned'].length);
                //console.log(bird_pile_lists['missed'].length);

                //pick bird and 2 distractors, creates audio hint
                makeNewQuestion(bird_pile_frequencies, bird_pile_lists, drill_birds);
            }
            // if mix doesn't validate, stop and show error
            else {
                console.log("mix fails validation");
                document.getElementById("fail-validation").innerHTML = "You need at least " + MIX_MIN + " birds available for a drill.";
            }

            //   ONCLICK check(Answer) check answer, give feedback, and move bird into new bird_pile and update JSON object.
            //   TIMEOUT drawMultipleChoice() repeat Choose BirdPile(), etc
        }

        function onRequestChange() {
            //console.log(request.readyState, request.status);
            if ((request.readyState == 4) && (request.status == 200)) {
                var data = JSON.parse(request.responseText);
                //draw(data);
                drawQuestion(data);
            }
        }

        function fetch() {
            var mix_slug = document.getElementById("mix_slug").innerHTML;
            request.onload = undefined;
            request.onreadystatechange = onRequestChange;
            var url = "/mix_drill_birds/" + mix_slug + "/";
            //console.log(url);
            request.open("GET", url, true);
            request.send();
        }
        function load() {
            fetch();
        }
        window.addEventListener("load", load);

        function saveData(formData){
            request.open("POST","/ajax/",true);
            request.onload = fetch;
            request.setRequestHeader("Content-type","application/x-www-form-urlencoded");
            request.send(formData);
        }
        function captureSubmit(){
            //Get inputs inside form and iterate over them.
            var elementList = document.getElementById("f1").children;
            formDataList = [];
            //Creating something like this:
            //title=spiderman&role=hero&color=red
            for(var i=0; i < elementList.length; i++){
                var element = elementList[i];
                formDataList.push(
                        encodeURIComponent(element.name)
                        + "=" +
                        encodeURIComponent(element.value)
                );
                console.log(element.name);
            }
            saveData(formDataList.join("&"));
            //CANCEL FORM SUBMISSION; must be returned in onsubmit below.
            return false;
        }

    </script>
    <style>
        .template {
            display: none;
        }
    </style>{% endblock %}
{% block body %}<body class="{{ mix_color }}">{% endblock %}

{% block maincontent %}
<!--
<form  id="f1" action="/ajax/" method="post" onsubmit="return captureSubmit()" >
    <input name="name">
    <input type="submit" value="submit">
</form>
<ul id="list">
</ul>
<ul class="template">
    <li id="template" class="template">
        <span>
           Name: {bird.name}<br>
           BirdPile: {bird.bird_pile}
        </span>
        <br>
        <br>
    </li>
</ul>

-->
    <div class="js-variable">
      <div id="mix_slug">{{ mix_slug }}</div>
      <div id="frequency_new">{{ frequency_new }}</div>
      <div id="frequency_learned">{{ frequency_learned }}</div>
      <div id="frequency_missed">{{ frequency_missed }}</div>
    </div>
      <h1><a class="btn btn-default" href="/mix_detail/{{ mix_slug }}" role="button"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> {{ mix_nickname }}</a> Drill</h1>

    <div id="drill">
    <div id="fail-validation"></div>
    <strong>Which bird is this?</strong>
    <audio id="question_bird_audio" controls autoplay src="">
        <source src="/static/media/call_common_loon.mp3" type="audio/mpeg" />
    </audio>
    <form role="form" method="post" class="drill-btns">
    {% csrf_token %}
        <button class="btn btn-default btn-lg btn-block" role="button" id="option0" value=""></button>
        <button class="btn btn-default btn-lg btn-block" role="button" id="option1" value=""></button>
        <button class="btn btn-default btn-lg btn-block" role="button" id="option2" value=""></button>
    <div>
        <p id="test"></p>
    Hint: Listen to all three
    <audio controls >
        <source src="/static/media/call_common_loon.mp3" type="audio/mpeg" />
    </audio>
    </div>
        <hr>
    <div class="checkbox checkbox-lg">
        <label><input type="checkbox" name="listen_only"> Listen-only mode</label> <a href="#" title="Listen-only mode will disable the answer options and autoplay the bird sounds. BirdingEar can't track your learned birds in this mode, so drill settings that involve tracking won't be applied."><span class="glyphicon glyphicon-info-sign"></span></a>
    </div>
    </form>
    <a href="/mix_detail/{{ mix_slug }}" class="btn btn-default colored-btn"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back to the {{ mix_nickname }} bird mix</a>

    </div><!--drill-->
{% endblock maincontent %}