{% extends "base.html" %}
{% load staticfiles%}

{% block title %}
    Favorites
{% endblock %}

{% block body %}<body class="TGY">{% endblock %}

{% block maincontent %}
    <h1>Favorites <a href="#" title="Add two or more favorites and you'll automatically get a Favorites mix that you can drill and quiz on."><span class="glyphicon glyphicon-info-sign"></span></a></h1>
    <div class="btn-group btn-group-justified theme-grey" role="group" aria-label="Justified button group">
      <a href="#" class="btn btn-default" role="button">DRILL</a>
      <a href="#" class="btn btn-default" role="button">QUIZ</a>
    </div>
    <div id="favorites">
    <form role="form" method="post">
    {% csrf_token %}
    <dl>
    {% for favorite in favorites %}
        <dt><a href="/bird_detail/{{ favorite.bird.slug }}" >{{ favorite.bird.name }} <span class='glyphicon glyphicon-heart'></span></a></dt>
        <dd><a href="#" onclick="this.form.submit();">Unfavorite</a></dd>
    {% endfor %}
    </dl>
    </form>

    </div><!--favorites-->

{% endblock maincontent %}
