{% extends "base.html" %}
{% load staticfiles%}

{% block title %}
    Favorites
{% endblock %}

{% block body %}<body class="TGY">{% endblock %}

{% block maincontent %}
    <h2>Favorites</h2>
    <!--<div class="btn-group btn-group-justified theme-grey" role="group" aria-label="Justified button group">
      <a href="#" class="btn btn-default" role="button">DRILL</a>
      <a href="#" class="btn btn-default" role="button">QUIZ</a>
    </div>-->
    <div id="favorites" class="detail-info">
    <form role="form" method="post">
    {% csrf_token %}
    {% if fav_total %}
        {% for favorite in fav_total %}
        <div>
            <a class="{{ favorite.html_classes }} bird_name" href="/bird_detail/{{ favorite.bird.slug }}" >{{ favorite.bird.name }}</a>
            <!--<a class="unfavorite" href="#" onclick="this.form.submit();">Unfavorite</a>-->
            <audio controls>
                <source src="{{ favorite.bird.bird_call }}" type="audio/mpeg" />
            </audio>
        </div>
        {% endfor %}
    {% else %}
        <p>You haven't marked any birds as favorites yet.  </p>
    {% endif %}
    </form>
    <ul>
        <li><span class="glyphicon glyphicon-check bullet" aria-hidden="true"></span><strong>{{ fav_learned.count }} of {{fav_total.count}} learned</strong> <a role="button" data-container="body" data-toggle="popover" data-placement="top" class="cursor-pointer" data-content="When you get a bird right in a drill or quiz, then it gets the status of 'learned'. If you miss the bird in a future drill or quiz, it will go back to 'unlearned'."><span class="glyphicon glyphicon-info-sign"></span></a></li>
    </ul>
    </div><!--favorites-->
    <script>
        function favoritesLearned() {
            var learnedSpan = " <span class='glyphicon glyphicon-check'></span>";
            var learned = document.getElementsByClassName("learned");
            for (var i = 0; i < learned.length; i++) {
                var content = "";
                content = learned[i].innerHTML;
                learned[i].innerHTML = content + learnedSpan;
            }
        }
        favoritesLearned();

    </script>
{% endblock maincontent %}
