{% extends "base.html" %}
{% load staticfiles%}

{% block title %}My Bird Mixes{% endblock %}

{% block body %}<body>{% endblock %}

{% block maincontent %}
    <h2>My Bird Mixes</h2>
    {% if mixes %}
        {% for mix in mixes %}
        <a href="/mix_detail/{{ mix.slug }}" title="Go to {{ mix.description }}" class="mix-icon">
        <ul class="{{ mix.color }}">
            <li class="mix_learned">{{ mix.num_learned }}<span class="sr-only"> Learned</span></li>
            <li class="mix_total">{{ mix.bird_list.count }}<span class="sr-only"> Total</span></li>
            <li class="mix_abbr">{{ mix.nickname }}</li>
        </ul>
        <h4>{{ mix.description }}</h4>
        </a><!--end mix-icon-->
    {% endfor %}
    {% else %}
            <strong>There are no mixes present.</strong>
    {% endif %}
    <a href="#" title="Go to Favorites" class="mix-icon">
        <ul class="theme-grey">
            <li class="mix_learned">6</li>
            <li class="mix_total">7</li>
            <li class="mix_abbr">FAV</li>
        </ul>
        <h4>Favorites</h4>
    </a><!--end mix-icon-->
    <a href="/mix_settings" title="Add a new bird mix" class="mix-icon add-new">
        <ul class="theme-grey">
            <li class="verdana-plus">+</li>
            <li class="mix_abbr">ADD NEW</li>
        </ul>
    </a><!--end mix-icon-->

{% endblock maincontent %}



