{% extends "base.html" %}
{% load staticfiles%}

{% block title %}Login{% endblock %}

{% block body %}<body class="DGY">{% endblock %}

{% block maincontent %}
    <h2>Login</h2>
    <div id="login">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="">Username</label>
                <input name="username" type="" class="form-control input-lg" id="">
            </div>

            <div class="form-group">
                <label for="">Password</label>
                <input name="password" type="" class="form-control input-lg" id="">
            </div>
            <input type="submit" class="btn btn-default btn-lg colored-btn" value="LOGIN">
        </form>
        <a href="register">Create a new account</a><br/>
        [demo login: demo/123abc]
    </div>
{% endblock maincontent %}