{% extends "base.html" %}
{% load staticfiles%}

{% block title %}My amazing blog{% endblock %}

{% block body %}<body class="{{ mix_color }}">{% endblock %}

{% block maincontent %}
      <h1>{{ mix_nickname }} <span>{{ mix_description }}</span></h1>

    <div class="btn-group btn-group-justified colored-btn-group" role="group" aria-label="Justified button group">
      <a href="#" class="btn btn-default" role="button">DRILL</a>
      <a href="#" class="btn btn-default" role="button">QUIZ</a>
      <a href="/mix_settings/{{ mix_slug }}" class="btn btn-default" role="button">EDIT</a>
    </div>
    <div id="mix-detail-info" class="detail-info">

    <ul>
        <li><span class="glyphicon glyphicon-headphones bullet" aria-hidden="true"></span><strong>50 out of 50 birds learned</strong> <a href="#" title="When you get a bird right in a drill or quiz, then it gets the status of 'learned'. If you miss the bird in a future drill or quiz, it will go back to 'unlearned'."><span class="glyphicon glyphicon-info-sign"></span></a></li>
        <li><span class="glyphicon glyphicon-map-marker bullet" aria-hidden="true"></span><strong>States</strong>

            <ul class="inline-list">
            {% if mix_states %}
                {% for state in mix_states %}
                <li>{{ state.name }}, </li>
                {% endfor %}
            {% else %}
                <li>All States in the U.S.</li>
            {% endif %}
            </ul>
        </li>
        <li><span class="glyphicon glyphicon-filter bullet" aria-hidden="true"></span><strong>Types of birds</strong>
            <ul>
            {% if mix_bird_types %}
                {% for bird_type in mix_bird_types %}
                <li>{{ bird_type.name }}</li>
                {% endfor %}
            {% else %}
                <li>All bird types</li>
            {% endif %}
            </ul>
        </li>
        <li><span class="glyphicon glyphicon-folder-open bullet" aria-hidden="true"></span><strong>Birds in the mix</strong>  <a href="#" title="Bolded birds are in your favorites list. Crossed out birds have been excluded from drills. You can update both these settings by clicking on the bird's name."><span class="glyphicon glyphicon-info-sign"></span></a>
            {% if birds %}
            <ul>
                {% for bird in birds %}
                <li><a href="/bird_detail/{{ bird.slug }}">{{ bird.bird.name }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <strong>There are no birds present.</strong>
            {% endif %}
        </li>
    </ul>
    </div><!--mix-detail-info-->
{% endblock maincontent %}
