{% extends "base.html" %}
{% load staticfiles%}

{% block title %}
    {% if mix_nickname %}
    Edit {{ mix_nickname }}
    {% else %}
    Add New
    {% endif %}
Mix{% endblock %}

{% block body %}<body class="{{ mix_color }}"  onload="myFunction()">{% endblock %}

{% block maincontent %}
    {% if mix_nickname %}
    <h1>{{ mix_nickname }}</h1>
    {% else %}
    <h1>Add New Mix</h1>
    {% endif %}
    <div id="edit">
    <form role="form" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="">Nickname</label> <a href="#" data-container="body" data-toggle="popover" data-placement="right" data-content="Think of a 1-3 letter nickname or abbreviation to call your bird mix. For example PNW would be a good nickname for a Pacific Northwest bird mix. You can always change this later."><span class="glyphicon glyphicon-info-sign"></span></a>
            <input name="nickname" type="" class="form-control input-lg" id="" value="{{ mix_nickname }}" maxlength="3">
         </div>
        <div class="form-group">
            <label for="">Short Description</label> <a href="#" data-container="body" data-toggle="popover" data-placement="right" data-content="Descriptions can be as long as you would like, but under 30 characters looks best. You can always change this later."><span class="glyphicon glyphicon-info-sign"></span></a>
            <input name="description" type="" class="form-control input-lg" id="" value="{{ mix_description }}">
        </div>
        <div class="form-group">
            <label>Color</label> <a href="#" data-container="body" data-toggle="popover" data-placement="right" data-content="Choose a color for the icon on the home page. You can change this whenever you want."><span class="glyphicon glyphicon-info-sign"></span></a>
            <select class="form-control input-lg" id="color-options">
              <option value="OLV" id="OLV" name="OLV">Olive</option>
              <option value="YEL" id="YEL" name="YEL">Yellow</option>
              <option value="LTB" id="LTB" name="LTB">Light Brown</option>
              <option value="DKB" id="DKB" name="DKB">Dark Brown</option>
              <option value="RUS" id="RUS" name="RUS">Rust</option>
              <option value="DGY" id="DGY" name="DGY">Dark Grey</option>
           </select>
        </div>

        <hr>
        <div class="form-group">
            <label>States</label> <a href="#" data-container="body" data-toggle="popover" data-placement="right" data-content="Choose your home state to learn birds in your area. Cover a bigger geographic area by adding bordering states. You can change this later if you want to add or delete states. Or you can make different mixes for different states."><span class="glyphicon glyphicon-info-sign"></span></a>
            <p><a href="#" onclick="toggle_visibility('state-buttons'); return false;" ><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Filter by states</a></p>
            <ul id="state-buttons">
                <li><a role="button" class="btn btn-default ">CA</a></li>
                <li><a role="button" class="btn btn-default ">OR</a></li>
                <li><a role="button" class="btn btn-default ">WA</a></li>
                <li><a role="button" class="btn btn-default ">OR</a></li>
                <li><a role="button" class="btn btn-default ">WA</a></li>
                <li><a role="button" class="btn btn-default ">OR</a></li>
                <li><a role="button" class="btn btn-default ">WA</a></li>
                <li><a role="button" class="btn btn-default ">WA</a></li>
                <li><a role="button" class="btn btn-default ">OR</a></li>
                <li><a role="button" class="btn btn-default ">WA</a></li>
                <li><a role="button" class="btn btn-default ">OR</a></li>
                <li><a role="button" class="btn btn-default ">WA</a></li>
                <li><a role="button" class="btn btn-default ">WA</a></li>
                <li><a role="button" class="btn btn-default ">OR</a></li>
                <li><a role="button" class="btn btn-default ">WA</a></li>
                <li><a role="button" class="btn btn-default ">OR</a></li>
                <li><a role="button" class="btn btn-default ">WA</a></li>
                <li><a role="button" class="btn btn-default ">WA</a></li>
                <li><a role="button" class="btn btn-default ">OR</a></li>
                <li><a role="button" class="btn btn-default ">WA</a></li>
                <li><a role="button" class="btn btn-default ">OR</a></li>
                <li><a role="button" class="btn btn-default ">WA</a></li>
                <li><a role="button" class="btn btn-default ">WA</a></li>
                <li><a role="button" class="btn btn-default ">OR</a></li>
                <li><a role="button" class="btn btn-default ">WA</a></li>
                <li><a role="button" class="btn btn-default ">OR</a></li>
                <li><a role="button" class="btn btn-default ">WA</a></li>
                <li><a role="button" class="btn btn-default ">WA</a></li>
                <li><a role="button" class="btn btn-default ">OR</a></li>
                <li><a role="button" class="btn btn-default ">WA</a></li>
                <li><a role="button" class="btn btn-default ">OR</a></li>
                <li><a role="button" class="btn btn-default ">WA</a></li>
                <li><a role="button" class="btn btn-default ">WA</a></li>
                <li><a role="button" class="btn btn-default ">OR</a></li>
                <li><a role="button" class="btn btn-default ">WA</a></li>
                <li><a role="button" class="btn btn-default ">OR</a></li>
                <li><a role="button" class="btn btn-default ">WA</a></li>
                <li><a role="button" class="btn btn-default ">WA</a></li>
                <li><a role="button" class="btn btn-default ">OR</a></li>
                <li><a role="button" class="btn btn-default ">WA</a></li>
                <li><a role="button" class="btn btn-default ">OR</a></li>
                <li><a role="button" class="btn btn-default ">WA</a></li>
                <li><a role="button" class="btn btn-default ">WA</a></li>
                <li><a role="button" class="btn btn-default ">OR</a></li>
                <li><a role="button" class="btn btn-default ">WA</a></li>
                <li><a role="button" class="btn btn-default ">OR</a></li>
                <li><a role="button" class="btn btn-default ">WA</a></li>
                <li><a role="button" class="btn btn-default ">WA</a></li>
                <li><a role="button" class="btn btn-default ">OR</a></li>
                <li><a role="button" class="btn btn-default ">WA</a></li>
            </ul>

        </div>
        <hr>
        <div class="form-group">
            <label>Bird Types</label> <a href="#" data-container="body" data-toggle="popover" data-placement="right" data-content="Narrow your mix by choosing one or more bird types. You can change this later if you want to add or delete bird types."><span class="glyphicon glyphicon-info-sign"></span></a>
            <p><a href="#" onclick="toggle_visibility('type-categories'); return false;" ><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Filter by bird types</a></p>
            <div id="type-categories">
                <div class="checkbox checkbox-lg"><label><input type="checkbox"> Sparrows, Grossbeacks & Buntings</label></div>
                <div class="checkbox checkbox-lg"><label><input type="checkbox"> Diving Birds</label></div>
                <div class="checkbox checkbox-lg"><label><input type="checkbox"> Sparrows, Grossbeacks & Buntings</label></div>
                <div class="checkbox checkbox-lg"><label><input type="checkbox"> Diving Birds</label></div>
                <div class="checkbox checkbox-lg"><label><input type="checkbox"> Sparrows, Grossbeacks & Buntings</label></div>
                <div class="checkbox checkbox-lg"><label><input type="checkbox"> Diving Birds</label></div>
                <div class="checkbox checkbox-lg"><label><input type="checkbox"> Sparrows, Grossbeacks & Buntings</label></div>
                <div class="checkbox checkbox-lg"><label><input type="checkbox"> Diving Birds</label></div>
                <div class="checkbox checkbox-lg"><label><input type="checkbox"> Sparrows, Grossbeacks & Buntings</label></div>
                <div class="checkbox checkbox-lg"><label><input type="checkbox"> Diving Birds</label></div>
                <div class="checkbox checkbox-lg"><label><input type="checkbox"> Sparrows, Grossbeacks & Buntings</label></div>
                <div class="checkbox checkbox-lg"><label><input type="checkbox"> Diving Birds</label></div>
                <div class="checkbox checkbox-lg"><label><input type="checkbox"> Sparrows, Grossbeacks & Buntings</label></div>
                <div class="checkbox checkbox-lg"><label><input type="checkbox"> Diving Birds</label></div>
                <div class="checkbox checkbox-lg"><label><input type="checkbox"> Sparrows, Grossbeacks & Buntings</label></div>
                <div class="checkbox checkbox-lg"><label><input type="checkbox"> Diving Birds</label></div>
                <div class="checkbox checkbox-lg"><label><input type="checkbox"> Sparrows, Grossbeacks & Buntings</label></div>
                <div class="checkbox checkbox-lg"><label><input type="checkbox"> Diving Birds</label></div>
                <div class="checkbox checkbox-lg"><label><input type="checkbox"> Sparrows, Grossbeacks & Buntings</label></div>
                <div class="checkbox checkbox-lg"><label><input type="checkbox"> Diving Birds</label></div>
                <div class="checkbox checkbox-lg"><label><input type="checkbox"> Sparrows, Grossbeacks & Buntings</label></div>
                <div class="checkbox checkbox-lg"><label><input type="checkbox"> Diving Birds</label></div>
            </div>
        </div>
       <hr>

    <input type="submit" class="btn btn-default btn-lg colored-btn" value="SAVE">
    </form>



    </div><!--edit-->
    <script type="text/javascript">
    <!--
    function myFunction() {
        document.getElementById("{{ mix_color }}").selected = true;
    }
        /*http://www.w3schools.com/jsref/prop_option_selected.asp
        http://stackoverflow.com/questions/4590311/set-option-selected-attribute-from-dynamic-created-option

         */
    //-->
    </script>
{% endblock maincontent %}
