{% extends "base.html" %}
{% load staticfiles%}

{% block title %}{{ mix_nickname }} Mix{% endblock %}

{% block body %}<body class="{{ mix_color }}" onload="myFunction()">{% endblock %}

{% block maincontent %}
      <h1>{{ mix_nickname }} <span class="description">{{ mix_description }}</span></h1>

    <div class="btn-group btn-group-justified colored-btn-group" role="group" aria-label="Justified button group">
      <a href="/drill/{{ mix_slug }}" class="btn btn-default" role="button">DRILL</a>
      <a href="/quiz/{{ mix_slug }}" class="btn btn-default" role="button">QUIZ</a>
      <a href="/mix_settings_edit/{{ mix_slug }}" class="btn btn-default" role="button">EDIT</a>
    </div>
    <div id="mix-detail-info" class="detail-info">

    <ul>
        <li><span class="glyphicon glyphicon-check bullet" aria-hidden="true"></span><strong>{{ num_learned }} of {{bird_list.count}} learned </strong> <a href="#" title="When you get a bird right in a drill or quiz, then it gets the status of 'learned'. If you miss the bird in a future drill or quiz, it will go back to 'unlearned'."><span class="glyphicon glyphicon-info-sign"></span></a></li>
        <li><span class="glyphicon glyphicon-map-marker bullet" aria-hidden="true"></span><strong>States</strong>

            <ul class="inline-list">
            {% if mix_states %}
                {% for state in mix_states %}
                <li>{{ state.name }}, </li>
                {% endfor %}
            {% else %}
                <li>All States in the U.S.</li>
            {% endif %}
            </ul>
        </li>
        <li><span class="glyphicon glyphicon-filter bullet" aria-hidden="true"></span><strong>Types of birds</strong>
            <ul>
            {% if mix_bird_types %}
                {% for bird_type in mix_bird_types %}
                <li>{{ bird_type.name }}</li>
                {% endfor %}
            {% else %}
                <li>All bird types</li>
            {% endif %}
            </ul>
        </li>
        <li><span class="glyphicon glyphicon-folder-open bullet" aria-hidden="true"></span><strong>Birds in the mix</strong>  <a href="#" title="These birds have been filtered by the states and bird types you selected. You can always edit these settings to make your bird mix bigger or smaller."><span class="glyphicon glyphicon-info-sign"></span></a>
            <ul>
            {% if bird_list %}
                {% for bird in bird_list %}
                <li><a href="/bird_detail/{{ bird.bird.slug }}" class="{{ bird.html_classes }}"> {{ bird.bird.name }} </a></li>
                {% endfor %}
            {% else %}
                <li>No birds match your selected states and bird types. <a href="/mix_settings/{{ mix_slug }}">Change settings</a></li>
            {% endif %}
            </ul>
        </li>
    </ul>
    </div><!--mix-detail-info-->
    <script>
        function myFunction() {
            var favoriteSpan = "<span class='glyphicon glyphicon-heart' title='favorite'></span>";
            var learnedSpan = " <span class='glyphicon glyphicon-check' title='learned'></span>";
            /* look for class where string contains "favorite"*/
            /*  add the heart icon to end of a*/
            var favorites = document.getElementsByClassName("favorite");
            for (var i = 0; i < favorites.length; i++) {
                var content = "";
                content = favorites[i].innerHTML;
                favorites[i].innerHTML = content + favoriteSpan;
            }
            var learned = document.getElementsByClassName("learned");
            for (var i = 0; i < learned.length; i++) {
                var content = "";
                content = learned[i].innerHTML;
                learned[i].innerHTML = content + learnedSpan;
            }
        }

    </script>
{% endblock maincontent %}
